{{! Previous/next page links - only displayed on page 2+ }}
<div class="row">
    <div class="col-xs-4 col-xs-offset-8">
        {{pagination}}
    </div>
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

<section>
     <div class="container-fluid" >
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
     
                <article class="{{post_class}}">
     
                    <header class="post-header">
                        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
                    </header>
     
                    <summary>
                        <p>{{excerpt words="45"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
                    </summary>
     
                    <div class="post-meta">
                        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
                        {{author}}
                        {{tags prefix=" on "}}
                        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    </div>
     
                </article>
            </div>
        </div>
    </div>
</section>

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
